@import "tailwindcss";

@theme {
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  html, body, #root {
    background-color: #000 !important;
    color: #fff !important;
    font-family: 'JetBrains Mono', monospace !important;
    min-height: 100vh !important;
  }
}
